/*
By Avery Davis Bell
Config for: trnaothervcfgtcounts.nf
*/
conda.enabled = true // needed for newer nextflow versions

process{
  // all processes:
  executor = 'slurm'

  withLabel: counts{
    publishDir = [
      path: "$params.out",
      mode: 'copy',
      overwrite: true,
      pattern: "*counts.txt.gz"
      ]
  }

  withName: bedsubvcf_trna{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t180'
  }

  withName: bedsubvcf_exon{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t180'
  }

  withName: gtf2exonbed{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t10'
  }
}
